# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\gomez\Documents\MoorparkCommunityCollege\Computer_Science\CS_M125\MyCode\Programming_Challenges\Chapter2\Challenge4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
